<!-- if loged in -->
<% if current_user != nil %>
<!-- If admin -->
  <% if current_user.admin %>

<h1> this is the procuts index page</h1>

  <div id="admin-icon-list">
    <div id="admin-row" class="row">
      <div id="admin-icons" class='col-md-4 body-height'>
        <div id='icontext'>Update News</div>
        <a href="/admin/streams"><i class="fa fa-newspaper-o"></i></a>
      </div>
      <div id="admin-icons" class='col-md-4 body-height'>
        <div id='icontext'>Update Youtube Playlist</div>
        <a href="/admin/playlist"><i class="fa fa-youtube"></i></a>
      </div>
      <div id="admin-icons" class='col-md-4 body-height'>
        <div id='icontext' class="recruiticon">Update Recruitment Icons</div>
        <a href="/admin/recruitment"><i><%= image_tag("wowicon.png", :class => "wowicon", :alt => "rss feed") %></i></a>
      </div>
    </div>
  </div>  
    <div id="back-button">
      <%= link_to "Back", admin_index_path %>
    </div>

<!-- If not admin -->
  <% else %>
    <%= render 'shared/noaccess' %>    
  <% end %>
<% else %>
  <%= render 'shared/noaccess' %>  
<% end %>




News
 - add new news (need database)
 - if exceeds 5 news create a new home page

Video
 - Edit video only (no add)
 - need really good regex so people dont fuck up
 - should give good instructions


