<!-- if loged in -->
<% if current_user != nil %>
<!-- If admin -->
  <% if current_user.admin %>



  <div id="admin-icon-list">
    <div id="admin-row" class="row">
      <div id="admin-icons" class='col-md-4 body-height'>
        <div id='icontext'>Update News</div>
        <a href="/admin/streams"><i class="fa fa-newspaper-o"></i></a>
      </div>
      <div id="admin-icons" class='col-md-4 body-height'>
        <div id='icontext'>Update Youtube Playlist</div>
        <a href="/admin/videos"><i class="fa fa-youtube"></i></a>
      </div>
      <div id="admin-icons" class='col-md-4 body-height'>
        <div id='icontext'>Update Recruitment Icons</div>
        <a href="/admin_update_current_work_home"><i><%= image_tag("wowicon.png", :class => "wowicon", :alt => "rss feed") %></i></a>
      </div>
    </div>
  </div>  


<!-- If not admin -->
  <% else %>
    <%= render 'shared/noaccess' %>    
  <% end %>
<% else %>
  <%= render 'shared/noaccess' %>  
<% end %>

update recruitment classes
wowicon.png



update news
fa-newspaper-o 
gray

