<div id='streamlist' class="row">
	<% unless Stream.all.empty? %>
		<% Stream.all.sort_by {|stream| stream.id}.each do |twitch| %>
		<div class='col-md-4'>
			<div id="streampagestreamer"><%= twitch.streamer %></div>
			<iframe src="<%= twitch.link %>/embed" frameborder="0" allowfullscreen></iframe>
		</div>
		<% end %>
	<% end %>
</div>
